.pic:hover {
    transform: scale(1.05) rotate(5deg);
       border: 2px solid darkgreen;
           transition: transform 0.3s ease;
              border: 2px solid rgb(51, 5, 89);
    box-shadow: 2px 2px 50px rgba(0, 0, 0, 0.4);
    cursor: pointer;
  }
  .pic {
    transition: transform 0.3s ease, box-shadow 0.3s ease;

  }
  .body {
    background-color: rgb(207, 194, 234);
    font-family: Arial, sans-serif;
    margin-left: 20%;
    margin-right: 20%;
    padding: 0;
  }
  